html {
    margin: 0;
}

body {
    max-width: 1280px;
}

.header {
    display: flex;
    margin: 34px auto 24px;
    justify-content: center;
}

.header__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 43px;
    color: #000;
    margin: auto;
}

.zoo-container {
    display: flex;
}

.zoo-container__background {
    background-image: url('./images/zoo-map.jpeg');
    width: 1280px;
    height: 100vh;
    background-size: cover;
    position: relative;
}

.animal-container {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    display: grid;
    position: relative;
    grid-auto-rows: auto;
    grid-template-columns: auto;
    gap: 10px;
    justify-content: space-between;
    grid-auto-flow: column;
}

.animal {
    margin: 0;
}

.animal__image {
    width: 80px;
    height: auto;
}

.animal__talks {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s linear;
    background-color: white;
}

.opened {
    pointer-events: all;
    opacity: 1;
}

